<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Project 2 Wishlist</title>
 <link rel="shortcut icon" href=""/>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" title="compact" href="/static/css/app.css">
    </head>
  <body>
    
     {% include "background.html" %}
     
       <div align="center" style="margin:auto" >
    <img width="500" height="150" src ="/static/imgs/wishlist.png"/>
 </div>
 <div align="center" style="margin:auto">
    <h1>Reset Password</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% endwith %}
    <br>
    <p>
      We can help you reset your password using your email address linked to your account.
    </p>
     <br>
    <form  method="post">
 {{ form.csrf_token }}
     <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class='form-control', placeholder="example@yahoo.com",style="width:300px") }}
      </div>
      
        <button type="submit" name="submit" class="btn btn-warning"style="width:80px">Submit</button>

    </form>
   
   
 </div>

     <footer>
        <div class="container">
            {% include "footer.html" %}
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/app.js"></script>
     <script src="/static/js/angular.min.js"></script>
      
    {% block js %} {% endblock%}
  </body>
</html>